h1 {
  font-size: 2.5rem;;
  text-align: center;
  color: rgba(0, 2, 2, 0.911);
}

h2  {
  text-align: center;
}

legend{
  font-weight: 800;
  font-size: x-large;
}
fieldset {
border-width:1px;
width: 60%;
margin: auto;
}
label{
 font-weight: 500;
 display:inline-block;
 padding: 0.5em 0.1em;

}

input {
  display: block;
  max-width: 100%;
  border:0;
  border-bottom: 2px solid rgba(63, 63, 255, 0.911);
  padding: 0.5em;
}
.btn{
  width: 40%;
  height: 35px;
  color: rgb(243, 241, 239);
  background-color: rgb(117, 108, 108);
  border-radius: 5px;
  font-size: 1.05em;
  margin-top: 5px;
  padding: 0.3em;
}
